.idea
.bin
.zip
aircraft.zip
samples.bin
samples_20230304_1442.bin
C:\Users\Eva Mangano\OneDrive\Documents\EPFL\4 - BA2\PROJET\Javions\resources\aircraft.zip
C:\Users\Eva Mangano\OneDrive\Documents\EPFL\4 - BA2\PROJET\Javions\resources\samples.bin
C:\Users\Eva Mangano\OneDrive\Documents\EPFL\4 - BA2\PROJET\Javions\resources\samples_20230304_1442.bin